@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  color: #555;
  background: rgb(247, 247, 247);
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-space-gap-col-small {
  padding: 10px !important;
  background: #fff !important;
  border-radius: .25rem !important;
  border: 1px solid #f2f2f2 !important;
  cursor: pointer !important;
  width: 260px !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-space-gap-col-small:hover {
  background: #f2f2f2 !important;
}